<%- include('parcial/header', { siteName: siteName }) %>

<section class="container" style="max-width:400px;margin:auto;">
  <h2>Iniciar sesión</h2>
  <form action="/api/login" method="POST" style="display:flex;flex-direction:column;gap:15px;">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required class="input" style="padding:12px;border:1px solid #ced6e0;border-radius:5px;">

    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" required class="input" style="padding:12px;border:1px solid #ced6e0;border-radius:5px;">

    <button type="submit" class="btn-primary" style="padding: 15px 0;" style="margin-top:10px;">Entrar</button>
  </form>
  <p style="margin-top:10px;color:hsl(0, 0%, 97%);">¿No tienes cuenta? <a href="/register" style="color:#1abc9c;">Regístrate aquí</a></p>
</section>

<%- include('parcial/footer', { siteName: siteName }) %>
