  <footer class="site-footer">
    © <%= new Date().getFullYear() %> PedidosHN. Todos los derechos reservados.
    <img src="/imgs/logo.png" alt="PedidosHN" width="40" height="40">
  </footer>
</body>
</html>

