<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PedidosHN</title>

  <!-- Fuente y estilos -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar">
  <a href="/" class="brand">
    <img src="/imgs/logo.png" alt="PedidosHN" width="40" height="40">
    <span class="brand-name">PedidosHN</span>
  </a>
  
  
  <!-- Pestaña Contacto -->
  <a href="/contacto" class="nav-link">Contacto</a>

  <!-- Solo admins enlace Usuarios -->
  <% if (user && user.es_admin) { %>
    <a href="/admin/usuarios" class="nav-link btn-danger">Usuarios</a>

  <% } %>
  
  <!-- Solo admins enlace Contactos -->
  <% if (user && user.es_admin) { %>
  <a href="/admin/contactos" class="nav-link">Mensajes</a>
<% } %>
    
<!-- Chekout -->
<a href="/checkout" class="nav-link">Finalizar Pedido</a>

<!-- Login, register, logout -->

  <div class="nav-actions">
    <% if (user) { %>
      <span>👋 Hola, <%= user.nombre %></span>
      <form action="/api/logout" method="POST" style="display:inline;">
        <button type="submit" class="btn-ghost" style="border-radius: 6; "> Cerrar sesión</button>
      </form>
    <% } else { %>
      <a href="/login" class="btn-ghost">Iniciar sesión</a>
      <a href="/register" class="btn-primary" style="border-radius: 6;">Registrarse</a>
    <% } %>
  </div>

  <% if (user && user.es_admin) { %>
    <span style="margin-left:16px;color:#22c55e;font-weight:600;">
      Usuario administrador
    </span>
  <% } %>

</nav>